<!--from booking history on click of view-->
<md-dialog flex-gt-xs="70" flex-gt-sm="50" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Booking History View </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="">
            <div layout="row" layout-padding layout-align="start center">
                <div class="md-title fontweight300">Booking ID: 123456</div>
                 <div flex></div>
                <div>
                    <span>Status :&nbsp; </span> <span class="status_dialog">Pickup Initiated</span>
                </div>
                <div flex></div>
                <div>
                    <md-icon class="font20 default-text-color_h">date_range</md-icon>&nbsp;12-12-2016
                </div>
               
            </div>
            <md-divider></md-divider>
            <div class="pading_litle">
                 <div class="md-subheader transbg onerem_mt primary-text-col" layout-padding>Trip Details</div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">From-To</div>
                    <div flex></div>
                    <div>Sydney-Perth</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Service Type</div>
                    <div flex></div>
                    <div>Pallet to point</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Task Start Time</div>
                    <div flex></div>
                    <div>10:30 pm</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Task End Time</div>
                    <div flex></div>
                    <div>10:30 am</div>
                </div>
              
                 <div class="md-subheader transbg onerem_mt  primary-text-col" layout-padding>Consignment Details</div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Consignment Number</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Type</div>
                    <div flex></div>
                    <div>Type</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Height</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Width</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Weight</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                
                <div class="md-subheader transbg  primary-text-col" layout-padding>Driver Details</div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Driver Name</div>
                    <div flex></div>
                    <div>John</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Contact</div>
                    <div flex></div>
                    <div>123456</div>
                </div>
                 <div layout="row" layout-padding>
                    <div class="default-text-color">Vehicle Reg No</div>
                    <div flex></div>
                    <div>123456</div>
                </div>
              
               
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <!--<md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
            SUBMIT
        </md-button>-->
        <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
            CLose
        </md-button>
    </md-dialog-actions>
</md-dialog>