<!--from company invoice on click of view-->
<!--This is pending invoice-->
<md-dialog flex-gt-xs="70" flex-gt-sm="50" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>ComapanyName Invoice </h2>
            <span flex></span>
              <h2>Receipt No:456789 </h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="">
           
           
            <div layout="row" layout-padding layout-align="start center">
                <div class="md-title fontweight300">Booking ID: 123486</div>
                <div flex></div>
                <div>
                    <md-icon class="font20 default-text-color_h">date_range</md-icon>&nbsp;12-12-2016
                </div>
            </div>
            <md-divider></md-divider>
            <div class="pading_litle">
                <div class="md-subheader transbg  primary-text-col" layout-padding>Driver Details</div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Driver Name</div>
                    <div flex></div>
                    <div>John</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Contact</div>
                    <div flex></div>
                    <div>123456</div>
                </div>
                <md-divider class="onerem_mt"></md-divider>
                <div class="md-subheader transbg onerem_mt primary-text-col" layout-padding>Trip Details</div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">From-To</div>
                    <div flex></div>
                    <div>Sydney-Perth</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Service Type</div>
                    <div flex></div>
                    <div>type</div>
                </div>
                <md-divider class="onerem_mt"></md-divider>
                <div class="md-subheader transbg onerem_mt  primary-text-col" layout-padding>Consignment Details</div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Consignment Number</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Type</div>
                    <div flex></div>
                    <div>Type</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Height</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Width</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Weight</div>
                    <div flex></div>
                    <div>212</div>
                </div>
                <md-divider class="onerem_mt"></md-divider>
                <div class="md-subheader transbg onerem_mt  primary-text-col" layout-padding>Task Details</div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Start Time</div>
                    <div flex></div>
                    <div>12:30 am</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">End Time</div>
                    <div flex></div>
                    <div>12:30 am</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Total Time</div>
                    <div flex></div>
                    <div>24 Hrs</div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Payable Amount</div>
                    <div flex></div>
                    <div>123</div>
                </div>
                <md-divider class="onerem_mt"></md-divider>
                <div class="md-subheader transbg onerem_mt  primary-text-col" layout-padding>Extras</div>
                <div layout="row" layout-padding layout-align="start center">
                    <div class="default-text-color">Added</div>
                    <div flex>
                    </div>
                    <div>
                        <md-input-container class="dialog_input">
                            <input>
                            <label>Amount</label>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center">
                    <div class="default-text-color">Deducted</div>
                    <div flex>
                    </div>
                    <div>
                        <md-input-container class="dialog_input">
                            <input>
                            <label>Amount</label>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-padding>
                    <div class="default-text-color">Total</div>
                    <div flex></div>
                    <div>123</div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
            SUBMIT
        </md-button>
        <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
            CLose
        </md-button>
    </md-dialog-actions>
</md-dialog>