<!--from view vehicle-->
<md-dialog flex-gt-xs="70" flex-gt-sm="50" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Extra Services</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="onerem_mt pading_litle">
            <fieldset class="standard">
                <legend> Extra Services</legend>
                <div layout="row" layout-wrap flex class="onerem_mt">
                    <md-checkbox class="md-primary" ng-model="data.cb1" ng-repeat="service in services">{{service.service_name}}</md-checkbox>
                </div>
            </fieldset>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
           Done
        </md-button>
        <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>