<!--from subadminlisting on click of viewlogs-->
<md-dialog flex-gt-xs="70" flex-gt-sm="50" flex-xs="100">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Logs </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="pading_litle">
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
            <div md-whiteframe="1" class="logs">
                <div flex layout="row">
                    <div class="name">Admin Name</div>
                    <div flex> </div>
                    <div class="date"> 22 Dec 2016 @ 12:30 pm</div>
                </div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem hic reiciendis quis voluptatem a eius voluptate,
                    iusto et! Odit iusto ipsum laborum sint enim iure incidunt expedita, doloribus architecto id!</div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <!--<md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
            TRack
        </md-button>-->
        <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>