<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Driver Trips</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="fonts/material-icons.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-animate.min.js"></script>
    <script src="js/libs/angular-aria.min.js"></script>
    <script src="js/libs/angular-messages.min.js"></script>
    <script src="js/libs/angular-sanitize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLIpr6B8yOl_TBZCBamlv7QfloPvBI7Ws"></script>
    <script src="js/libs/angular-material.min.js"></script>
    <script src="js/libs/md-data-table.min.js"></script>
    <script src="js/libs/lf-ng-md-file-input.min.js"></script>
    <script src='js/libs/moment.min.js'></script>
    <script src='js/libs/picker.js'></script>
    <script src="js/app.js"></script>
    <script src="js/directives/directives.js"></script>


    <script src="js/controllers/drivertripdetailsCtrl.js"></script>
</head>

<body ng-app="Freight" ng-controller="DriverTripDetailsCtrl" layout="row" ng-cloak>

    <sidenav drivernotificationcount></sidenav>
    <section layout="column" flex>
        <md-toolbar class="md-primary" md-whiteframe=2>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav('left')">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2><span>FREIGHT</span></h2>
                <span flex></span>
                <!--<md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        <md-content class="mdcontent">
            <div class="contentt">
                <div layout="row" class="pagetitle" layout-align="start center">
                    <img src="img/title_indicator.svg" alt="">
                    <h2 class="md-display-1 ">DRIVER TRIP DETAILS</h2>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="breadcrumbs" layout-align="start center" flex>
                    <a class="hovercol" href="index.html">
                        <md-icon class="font20 ">home</md-icon><span>Home</span>
                    </a>

                    <a class="hovercol" href="driver_listing.html">
                        <md-icon class="">keyboard_arrow_right</md-icon><span>Drivers</span>
                    </a>
                    <a class="hovercol" href="#">
                        <md-icon class="">keyboard_arrow_right</md-icon><span>Driver Trip Details</span>
                    </a>
                </div>
                <md-divider class="onerem_mt"></md-divider>
                <h1 class="md-title tworem_mt default-text-color">Driver Profile</h1>
                <div>
                    <div layout="row" flex class="callout">
                        <div class="font20">
                            <md-icon class="primary-text-col tenmarginright">person</md-icon>Gary Smith</div>
                        <div flex></div>
                        <div class="font20">
                            <md-icon class="primary-text-col tenmarginright">location_on</md-icon>London</div>
                    </div>
                    <div layout-gt-sm="row" flex class="callout">
                        <div flex>
                            <div layout="row" layout-padding>
                                <div class="default-text-color">Vehicle RegNo</div>
                                <div flex></div>
                                <div>45658746</div>
                            </div>
                            <div layout="row" layout-padding>
                                <div class="default-text-color">Make</div>
                                <div flex></div>
                                <div>VehicleMake</div>
                            </div>
                            <div layout="row" layout-padding>
                                <div class="default-text-color">Body Type</div>
                                <div flex></div>
                                <div>TypeOfBody</div>
                            </div>
                        </div>
                        <div flex=5></div>
                        <div flex>
                            <div layout="row" layout-padding>
                                <div class="default-text-color">RegNo Expiry</div>
                                <div flex></div>
                                <div>12-12-2018</div>
                            </div>
                            <div layout="row" layout-padding>
                                <div class="default-text-color">Model</div>
                                <div flex></div>
                                <div>VehicleModel</div>
                            </div>
                            <div layout="row" layout-padding>
                                <div class="default-text-color">Pallet Spaces</div>
                                <div flex></div>
                                <div>PalletSpace</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tworem_mt ">
                    <h1 class="md-title tworem_mt default-text-color">Driver Trips</h1>
                    <md-card class="padingzero">
                        <md-table-container>
                            <table md-table ng-model="selected" md-progress="promise">
                                <thead md-head md-order="query.order">
                                    <tr md-row>
                                        <th md-column>Sr No</th>
                                        <th md-column>Pickup Date</th>
                                        <th md-column>Reg No</th>
                                        <th md-column>From</th>
                                        <th md-column>To</th>
                                        <th md-column>Distance(km)</th>
                                        <th md-column class="text-center">Status</th>
                                        <th md-column class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="datas in tabledata.data| orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                        <td md-cell>{{datas.id}}</td>
                                        <td md-cell>{{datas.pickupdate}}</td>
                                        <td md-cell>{{datas.reg_no}}</td>
                                        <td md-cell>{{datas.from}}</td>
                                        <td md-cell>{{datas.to}}</td>
                                        <td md-cell class="text-center">{{datas.distance}}</td>
                                        <td md-cell class="text-center">
                                            <div class="status" ng-class="[datas.status=='Delivered' ?'status_delivered': 'status_pickup']">
                                                {{datas.status}}
                                            </div>
                                        </td>
                                        <td md-cell class="text-center">
                                            <md-button class=" tablebtn md-icon-button" ng-click="driverTripDialog($event)">
                                                <md-tooltip md-direction="top">View Trip</md-tooltip>
                                                <md-icon class=" sucessbtn">remove_red_eye</md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{tabledata.count}}" md-on-paginate="" md-page-select></md-table-pagination>
                    </md-card>
                </div>
            </div>
        </md-content>
    </section>
</body>
<script>
</script>

</html>