<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <title>
            start page
        </title>
        <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        .button2 {background-color: #008CBA;} /* Blue */
        .button3 {background-color: #f44336;} /* Red */ 
        .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
        </style>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="customersCtrl"> 
      
        <form class="w3-container" name="form1"  >
        <br>
        <label>First Name</label>
        <input class="w3-input" minlength="3" required ng-model="name" type="text">
        
        <button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" ng-click="view()">View</button>
        <button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" ng-disabled="!name" ng-click="submit()">Add</button>
        <br>
        <br>
        </form>
        <form  name="form2" action='upload_photo' 
            method='post' 
            encType="multipart/form-data" >
        <input type="file"  name="photo" required/>
        <input type='submit' value='Upload!' />
        </form>
        <br>
        <div class="w3-container w3-responsive">
        <div ng-show="status" class="w3-panel w3-green  w3-card-5">
        <span ng-click="status=''" class="w3-closebtn">&times;</span>
        <h3>{{status}}</h3>
      
        </div>
        </div>
        <br>
        <div class="w3-container w3-responsive">
            <h2 ng-show="list[0]">Listing</h2>
            <table  ng-show="list[0]" class="w3-table w3-striped w3-bordered w3-border w3-table-all w3-centered w3-hoverable  w3-card-5 ">
                <tr class="w3-green">
                <th>Name</th>
                <th colspan="2" > Action </th>
                </tr>
                <tr  ng-repeat="x in list">
                <td>{{x.name}} </td>
                <td><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" ng-click="delete(x._id)">Delete</button></td>
                <td><button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge" ng-click="update(x._id)" ng-disabled="!name">Update</button></td>
                </tr>
            </table>
        </div> 
        <br>

        </div>
    </body>
</html>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
   $scope.test='hello';
   $scope.alert = function(){
       alert('hello js');
   };

   $scope.update = function(i){
        var params = angular.toJson({val: 0,id:i,name:$scope.name});
                $http({
                    url: "/update",
                    method: "POST",
                    data: params
                }).success(function (data, webStatus, headers, config){
                    $scope.status=data;
                    $scope.name='';
                    $scope.view();
                }).error(function (data, status, headers, config) {
                    console.log("Error occured in http request:" + data);
                });
   };
    $scope.delete = function(i){
        var params = angular.toJson({val: 0,id:i});    
                $http({
                    url: "/delete",
                    method: "POST",
                    data: params
                }).success(function (data, webStatus, headers, config){
                    $scope.status=data;
                    $scope.view();
                }).error(function (data, status, headers, config) {
                    console.log("Error occured in http request:" + data);    
                });
   };
   $scope.submit = function(){
        var params = angular.toJson({val: 0,name:$scope.name});
                $http({
                    url: "/app",
                    method: "POST",
                    data: params
                }).success(function (data, webStatus, headers, config){
                    $scope.status=data;
                    $scope.name='';
                    $scope.view();
                }).error(function (data, status, headers, config) {  
                    console.log("Error occured in http request:" + data); 
                });
   };
    $scope.view = function(){              
                $http({
                    url: "/data",
                    method: "GET"
                }).success(function (data, webStatus, headers, config){
                     $scope.list=data;
                }).error(function (data, status, headers, config) {
                    console.log("Error occured in http request:" + data);
                });
   };
});
</script>
