<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>View Vehicle</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="fonts/material-icons.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-animate.min.js"></script>
    <script src="js/libs/angular-aria.min.js"></script>
    <script src="js/libs/angular-messages.min.js"></script>
    <script src="js/libs/angular-sanitize.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLIpr6B8yOl_TBZCBamlv7QfloPvBI7Ws"></script>
    <script src="js/libs/angular-material.min.js"></script>
    <script src="js/libs/md-data-table.min.js"></script>
    <script src="js/libs/lf-ng-md-file-input.min.js"></script>
    <script src='js/libs/moment.min.js'></script>
    <script src='js/libs/picker.js'></script>
    <script src="js/app.js"></script>
    <script src="js/directives/directives.js"></script>

    <script src="js/controllers/viewvehicleCtrl.js"></script>
    <!--
    <script src="js/controllers/driverlistingCtrl.js"></script>
    <script src="js/controllers/drivertripdetailsCtrl.js"></script>
    <script src="js/controllers/companylistingCtrl.js"></script>
    <script src="js/controllers/viewallvehiclesCtrl.js"></script>
    <script src="js/controllers/viewalldriversCtrl.js"></script>
    <script src="js/controllers/companydetailCtrl.js"></script>
    <script src="js/controllers/currentBookingCtrl.js"></script>
    <script src="js/controllers/bookinghistoryCtrl.js"></script>
    <script src="js/controllers/cancelledbookingCtrl.js"></script>
    <script src="js/controllers/servicesCtrl.js"></script>
    <script src="js/controllers/vehiclemasterCtrl.js"></script>
    <script src="js/controllers/vehicleserviceCtrl.js"></script>
    <script src="js/controllers/homepageCtrl.js"></script>
    <script src="js/controllers/documentmasterCtrl.js"></script>
    <script src="js/controllers/userdetailsCtrl.js"></script>-->
    <!--<script src="js/controllers/userlistingCtrl.js"></script>
    <script src="js/controllers/customerRelatedDelayCtrl.js"></script>
    <script src="js/controllers/customerRelatedDelayViewCtrl.js"></script>
    <script src="js/controllers/settingCtrl.js"></script>
    <script src="js/controllers/subadminlistingCtrl.js"></script>
    <script src="js/controllers/addeditsubadminCtrl.js"></script>
    <script src="js/controllers/invoiceCustomerCtrl.js"></script>
    <script src="js/controllers/invoiceDriverCtrl.js"></script>
    <script src="js/controllers/invoiceCompanyCtrl.js"></script>
    <script src="js/controllers/drivertrackCtrl.js"></script>
    <script src="js/controllers/vehicledetailsCtrl.js"></script>
    <script src="js/controllers/viewindividualdriverCtrl.js"></script>
    <script src="js/controllers/companydriverdetailsCtrl.js"></script>-->
</head>

<body ng-app="Freight" ng-controller="ViewVehicleCtrl" layout="row" ng-cloak>
    <sidenav drivernotificationcount></sidenav>
    <section layout="column" flex>
        <md-toolbar class="md-primary" md-whiteframe=2>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav('left')">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2>
                    <div>FREIGHT</span>
                </h2>
                <span flex></span>
                </div>
        </md-toolbar>
        <md-content class="mdcontent">
            <!--<div class="breadcrumbs" >
                Home / Current Bookings
        </div>-->
            <div flex class="contentt">
                <div layout="row" class="pagetitle" layout-align="start center">
                    <img src="img/title_indicator.svg" alt="">
                    <h2 class="md-display-1 ">VIEW VEHICLE_NAME</h2>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="breadcrumbs" layout-align="start center" flex>
                    <a class="hovercol" href="index.html">
                        <md-icon class="font20 ">home</md-icon><span>Home</span>
                    </a>
                    <!--<a class="hovercol" href="index.php">
                        <md-icon class="">keyboard_arrow_right</md-icon><span>Home</span>
                    </a>-->
                    <a class="hovercol" href="vehiclemaster.html">
                        <md-icon class="">keyboard_arrow_right</md-icon><span>Vehicle Master</span>
                    </a>
                    <a class="hovercol" href="#">
                        <md-icon class="">keyboard_arrow_right</md-icon><span>View Vehicle</span>
                    </a>
                </div>
                <md-divider class="onerem_mt"></md-divider>
                <div layout="row" layout-align="start center" class=" tworem_mt">
                    <h1 class="md-title default-text-color">Extra Services </h1>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="showeditExtraServices($event,'Edit Extra Services')">
                        <md-icon>edit</md-icon>
                        <md-tooltip md-direction="top">Edit Extra Services</md-tooltip>
                    </md-button>
                </div>
                <div flex class="callout">
                    <div layout="row" layout-wrap flex layout-padding>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                        <div flex-gt-md="20" flex="50">Some Service</div>
                    </div>
                </div>
                <div class="tworem_mt">
                    <div layout="row" layout-align="start center">
                        <h1 class="md-title  default-text-color">Main Services </h1>
                        <div flex></div>
                        <md-button class="md-icon-button" target="_blank" ng-href="vehicleservices.html">
                            <md-tooltip md-direction="top">Edit Main Services</md-tooltip>
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="showAddMainServices($event)">
                            <md-tooltip md-direction="top">Add Main Services</md-tooltip>
                            <md-icon>add_circle_outline</md-icon>
                        </md-button>
                    </div>
                    <div flex layout="column" class=" ">
                        <md-card class="padingzero">
                            <md-table-container>
                                <table md-table ng-model="selected" md-progress="promise">
                                    <thead md-head md-order="query.order">
                                        <tr md-row>
                                            <th md-column>Sr No</th>
                                            <th md-column>Main Service</th>
                                            <th md-column class="text-center">Customer Rate</th>
                                            <th md-column class="text-center">Individual Driver Rate</th>
                                            <th md-column class="text-center">Company Rate</th>
                                            <th md-column class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="datas in tabledata.data| orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                                            <td md-cell>{{datas.id}}</td>
                                            <td md-cell>{{datas.mainservice}}</td>
                                            <td md-cell class="text-center">{{datas.customerRate}}</td>
                                            <td md-cell class="text-center">{{datas.indiDriverRate}}</td>
                                            <td md-cell class="text-center">{{datas.companyRate}}</td>
                                            <td md-cell class="text-center">
                                                <!--<md-button class=" tablebtn md-icon-button" ng-click="showDeleteConfirm($event)">
                                                    <md-tooltip md-direction="top">delete</md-tooltip>
                                                    <md-icon class=" sucessbtn">Delete</md-icon>
                                                </md-button>-->
                                                <md-button class=" tablebtn md-icon-button" ng-click="active=!active">
                                                    <md-tooltip md-direction="top">delete</md-tooltip>
                                                    <md-icon class="warnbtn">delete</md-icon>
                                                </md-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{tabledata.count}}" md-on-paginate="" md-page-select></md-table-pagination>
                        </md-card>
                    </div>
                </div>
            </div>
        </md-content>
    </section>
</body>
<script>
</script>

</html>